<p id="notice"><%= notice %></p>

<p>
  <strong>Abbr:</strong>
  <%= @truck_brand.abbr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @truck_brand.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @truck_brand.logo %>
</p>

<%= link_to 'Edit', edit_truck_brand_path(@truck_brand) %> |
<%= link_to 'Back', truck_brands_path %>
