<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @tyc_investe_abroad.company_id %>
</p>

<p>
  <strong>Abroadd company:</strong>
  <%= @tyc_investe_abroad.abroadd_company_id %>
</p>

<%= link_to 'Edit', edit_tyc_investe_abroad_path(@tyc_investe_abroad) %> |
<%= link_to 'Back', tyc_investe_abroads_path %>
