<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @truck_detail.item_id %>
</p>

<p>
  <strong>Config:</strong>
  <%= @truck_detail.config_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @truck_detail.value %>
</p>

<%= link_to 'Edit', edit_truck_detail_path(@truck_detail) %> |
<%= link_to 'Back', truck_details_path %>
