<p id="notice"><%= notice %></p>

<h1>Truck Series</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truck_series.each do |truck_series| %>
      <tr>
        <td><%= truck_series.brand_id %></td>
        <td><%= truck_series.name %></td>
        <td><%= link_to 'Show', truck_series %></td>
        <td><%= link_to 'Edit', edit_truck_series_path(truck_series) %></td>
        <td><%= link_to 'Destroy', truck_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck Series', new_truck_series_path %>
