<%= form_with(model: hz_idcard, local: true) do |form| %>
  <% if hz_idcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hz_idcard.errors.count, "error") %> prohibited this hz_idcard from being saved:</h2>

      <ul>
      <% hz_idcard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :nation %>
    <%= form.text_field :nation %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :org %>
    <%= form.text_field :org %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.date_select :start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.date_select :end_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
