<p id="notice"><%= notice %></p>

<h1>Truck Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truck_pictures.each do |truck_picture| %>
      <tr>
        <td><%= truck_picture.item_id %></td>
        <td><%= truck_picture.name %></td>
        <td><%= truck_picture.url %></td>
        <td><%= link_to 'Show', truck_picture %></td>
        <td><%= link_to 'Edit', edit_truck_picture_path(truck_picture) %></td>
        <td><%= link_to 'Destroy', truck_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck Picture', new_truck_picture_path %>
