<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @truck_picture.item_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @truck_picture.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @truck_picture.url %>
</p>

<%= link_to 'Edit', edit_truck_picture_path(@truck_picture) %> |
<%= link_to 'Back', truck_pictures_path %>
