<%= form_with(model: car_item, local: true) do |form| %>
  <% if car_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_item.errors.count, "error") %> prohibited this car_item from being saved:</h2>

      <ul>
      <% car_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :serie_id %>
    <%= form.number_field :serie_id %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :is_sale %>
    <%= form.check_box :is_sale %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
