<p id="notice"><%= notice %></p>

<h1>Tuhu Products size: <%= Tuhu::ProductDetail.all.size %></h1>

<%= will_paginate @tuhu_products %>

<br>
<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Img</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Url</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tuhu_products.each do |tuhu_product| %>
        <tr>
        <td><%= Tuhu::Product.new.kind_check[:"#{tuhu_product.kind_id}"] %></td>
        <td><%= image_tag(tuhu_product.img) rescue '' %>
        </td>
        
        <td><%= tuhu_product.name %></td>
        <td><%= tuhu_product.price %></td>
        <td><%= tuhu_product.category %></td>
        <td><%= tuhu_product.url %></td>
        <td><%= tuhu_product.remark %></td>
        <td><%= link_to 'Show', tuhu_product %></td>
        <!-- <td><%= link_to 'Edit', edit_tuhu_product_path(tuhu_product) %></td>
        <td><%= link_to 'Destroy', tuhu_product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @tuhu_products %>

<%= link_to 'New Tuhu Product', new_tuhu_product_path %>
