<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @jz_sx.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @jz_sx.name %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @jz_sx.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @jz_sx.end_at %>
</p>

<%#= link_to 'Edit', edit_jz_sx_path(@jz_sx) %> |
<%= link_to 'Back', jz_sxes_path %>
