<p id="notice"><%= notice %></p>

<h1>Truck Items</h1>

<table>
  <thead>
    <tr>
      <th>Serie</th>
      <th>Code</th>
      <th>Name</th>
      <th>Url</th>
      <th>Is sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truck_items.each do |truck_item| %>
      <tr>
        <td><%= truck_item.serie_id %></td>
        <td><%= truck_item.code %></td>
        <td><%= truck_item.name %></td>
        <td><%= truck_item.url %></td>
        <td><%= truck_item.is_sale %></td>
        <td><%= link_to 'Show', truck_item %></td>
        <td><%= link_to 'Edit', edit_truck_item_path(truck_item) %></td>
        <td><%= link_to 'Destroy', truck_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck Item', new_truck_item_path %>
