<p id="notice"><%= notice %></p>

<p>
  <strong>Serie:</strong>
  <%= @truck_item.serie_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @truck_item.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @truck_item.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @truck_item.url %>
</p>

<p>
  <strong>Is sale:</strong>
  <%= @truck_item.is_sale %>
</p>

<%= link_to 'Edit', edit_truck_item_path(@truck_item) %> |
<%= link_to 'Back', truck_items_path %>
