<%= form_with(model: car_detail, local: true) do |form| %>
  <% if car_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_detail.errors.count, "error") %> prohibited this car_detail from being saved:</h2>

      <ul>
      <% car_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :detail_id %>
    <%= form.number_field :detail_id %>
  </div>

  <div class="field">
    <%= form.label :key %>
    <%= form.number_field :key %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
