<%= form_with(model: truck_config, local: true) do |form| %>
  <% if truck_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck_config.errors.count, "error") %> prohibited this truck_config from being saved:</h2>

      <ul>
      <% truck_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
