<p id="notice"><%= notice %></p>

<p>
  <strong>Cn date year:</strong>
  <%= @hz_bank.cn_date_year %>
</p>

<p>
  <strong>Cn date month:</strong>
  <%= @hz_bank.cn_date_month %>
</p>

<p>
  <strong>Cn date day:</strong>
  <%= @hz_bank.cn_date_day %>
</p>

<p>
  <strong>Company:</strong>
  <%= @hz_bank.company %>
</p>

<p>
  <strong>Card number 1:</strong>
  <%= @hz_bank.card_number_1 %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @hz_bank.bank %>
</p>

<p>
  <strong>Xingming:</strong>
  <%= @hz_bank.xingming %>
</p>

<p>
  <strong>Card number 2:</strong>
  <%= @hz_bank.card_number_2 %>
</p>

<p>
  <strong>Bank branch:</strong>
  <%= @hz_bank.bank_branch %>
</p>

<p>
  <strong>Cn money:</strong>
  <%= @hz_bank.cn_money %>
</p>

<p>
  <strong>En money:</strong>
  <%= @hz_bank.en_money %>
</p>

<p>
  <strong>Cn date:</strong>
  <%= @hz_bank.cn_date %>
</p>

<p>
  <strong>Protocol number:</strong>
  <%= @hz_bank.protocol_number %>
</p>

<p>
  <strong>Bank number:</strong>
  <%= @hz_bank.bank_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hz_bank.address %>
</p>

<p>
  <strong>Xingming 2:</strong>
  <%= @hz_bank.xingming_2 %>
</p>

<p>
  <strong>En date year:</strong>
  <%= @hz_bank.en_date_year %>
</p>

<p>
  <strong>En date month:</strong>
  <%= @hz_bank.en_date_month %>
</p>

<p>
  <strong>En date day:</strong>
  <%= @hz_bank.en_date_day %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hz_bank.phone %>
</p>

<%= link_to 'Edit', edit_hz_bank_path(@hz_bank) %> |
<%= link_to 'Back', hz_banks_path %>
