<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/"  ><%%=  t :"dashboard" %></a></li>
  <!-- <li class="breadcrumb-item"><a href="#">Role</a></li> -->
  <%% if params[:id] %>
  <li class="breadcrumb-item"><a href="/<%= controller_file_path %>"  ><%%=  t :"<%= singular_table_name %>" %></a></li>
  <li class="breadcrumb-item active">
      <%%= @<%= singular_table_name %>.id %>
  </li>
  <%% else %>
  <li class="breadcrumb-item"><a href="/<%= controller_file_path %>"  ><%%=  t :"<%= singular_table_name %>" %></a></li>
  <%% end %>
  <div class="ml-auto">
    <a href="javascript:void(0);" onclick="goBack()" class="mb-0 btn btn-xs  btn-outline-purple"><i class="fa fa-arrow-left"><%%=  t :"back" %></i></a>
    <a href="javascript:void(0);" onclick="goForward()" class="mb-0 btn btn-xs  btn-outline-purple"><i class="fa fa-arrow-right"><%%=  t :"forward" %></i></a>
    <a href="javascript:void(0);" onclick="reloadPage()" class="btn btn-xs btn-outline-pink"><i class="icon-refresh"><%%=  t :"refresh" %></i></a>
  </div>
</ol>

<div class="col-xs-12">
  <div class="card">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="/<%= controller_file_path %>/<%%= @<%= singular_table_name %>.id %>" class="nav-link <%%= !params[:tab]? 'active':'' %>" ><%%=  t :"detail" %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="detail" role="tabpanel"  class="tab-pane <%%= !params[:tab]? 'active':'' %>">
        <div class="table-responsive">
          <table class="table table-striped  table-hover v-table show">
            <tbody>
              <!-- <%= attributes.map { |e| e.column_name  } %> -->
              <% i = 1 %><% arr = [] %><% attributes.each do |attribute| %>
              <tr>
                <th colspan='1'>  <%%= t :"<%= singular_table_name %>.<%= attribute.column_name %>" %></th>
                <td colspan='3'>  <%%= @<%= singular_table_name %>.<%= attribute.column_name %> rescue ''%> </td>
              </tr>
              <% end %>
              <tr>
                <th><%%= t :"<%= singular_table_name %>.created_at" %></th>
                <td><%%= bt @<%= singular_table_name %>.created_at rescue '' %> </td>
                <th><%%= t :"<%= singular_table_name %>.updated_at" %></th>
                <td><%%= bt @<%= singular_table_name %>.updated_at rescue '' %></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="row col-12">
            <a class="btn  btn-md  btn-secondary" href="/<%= controller_file_path %>"   >
              <i class="fa-1x icon-arrow-left">
            <%%= t :"back" %></i></a>
          </a>
          <div class="ml-auto">
              <a data-confirm="<%%= t :delete_confirm %>" rel="nofollow" data-method="delete" href="/<%= controller_file_path %>/<%%= @<%= singular_table_name %>.id %>"  >
                <button title="<%%= t :delete %>" type="button" class="btn btn-md  btn-outline-danger">
                  <i class="fa-1x fa fa-times "><%%=  t :"delete" %></i>
                </button>
              </a>
              <a class="btn  btn-md  btn-outline-warning " href="/<%= controller_file_path %>/<%%= @<%= singular_table_name %>.id %>/edit"   >
                <i class="fa-1x icon-note"><%%= t :"edit" %></i>
              </a>
          </div>
        </div>

        <br>
    </div>
  </div>
</div>
