<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @cg_gonggao.kind %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cg_gonggao.title %>
</p>

<p>
  <strong>Date at:</strong>
  <%= @cg_gonggao.date_at %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @cg_gonggao.buyer %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @cg_gonggao.agent %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cg_gonggao.category %>
</p>

<p>
  <strong>Area:</strong>
  <%= @cg_gonggao.area %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @cg_gonggao.desc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @cg_gonggao.url %>
</p>

<p>
  <strong>Key:</strong>
  <%= @cg_gonggao.key %>
</p>

<%= link_to 'Edit', edit_cg_gonggao_path(@cg_gonggao) %> |
<%= link_to 'Back', cg_gonggaos_path %>
