<%= form_with(model: qx_runway, local: true) do |form| %>
  <% if qx_runway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qx_runway.errors.count, "error") %> prohibited this qx_runway from being saved:</h2>

      <ul>
      <% qx_runway.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :airport_id %>
    <%= form.number_field :airport_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
