<%= form_with(model: tyc_gudong, local: true) do |form| %>
  <% if tyc_gudong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tyc_gudong.errors.count, "error") %> prohibited this tyc_gudong from being saved:</h2>

      <ul>
      <% tyc_gudong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :human_id %>
    <%= form.number_field :human_id %>
  </div>

  <div class="field">
    <%= form.label :invest_rate %>
    <%= form.text_field :invest_rate %>
  </div>

  <div class="field">
    <%= form.label :invest_amount %>
    <%= form.text_field :invest_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
