<p id="notice"><%= notice %></p>

<p>
  <strong>City name:</strong>
  <%= @qx_airport.city_name %>
</p>

<p>
  <strong>Airport 3 code:</strong>
  <%= @qx_airport.airport_3_code %>
</p>

<p>
  <strong>City ch ame:</strong>
  <%= @qx_airport.city_ch_ame %>
</p>

<p>
  <strong>Country name:</strong>
  <%= @qx_airport.country_name %>
</p>

<p>
  <strong>Airport 4 code:</strong>
  <%= @qx_airport.airport_4_code %>
</p>

<p>
  <strong>Airport name:</strong>
  <%= @qx_airport.airport_name %>
</p>

<p>
  <strong>English name:</strong>
  <%= @qx_airport.english_name %>
</p>

<p>
  <strong>Longgitude:</strong>
  <%= @qx_airport.longgitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @qx_airport.latitude %>
</p>

<%= link_to 'Edit', edit_qx_airport_path(@qx_airport) %> |
<%= link_to 'Back', qx_airports_path %>
