<%= form_with(model: cg_kind, local: true) do |form| %>
  <% if cg_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cg_kind.errors.count, "error") %> prohibited this cg_kind from being saved:</h2>

      <ul>
      <% cg_kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :is_show %>
    <%= form.check_box :is_show %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
