<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tyc_company.code %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @tyc_company.logo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tyc_company.name %>
</p>

<p>
  <strong>Old name:</strong>
  <%= @tyc_company.old_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tyc_company.phone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @tyc_company.mail %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tyc_company.url %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tyc_company.address %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @tyc_company.intro %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @tyc_company.update_date %>
</p>

<p>
  <strong>Boss name:</strong>
  <%= @tyc_company.boss_name %>
</p>

<p>
  <strong>Reg money:</strong>
  <%= @tyc_company.reg_money %>
</p>

<p>
  <strong>Set date:</strong>
  <%= @tyc_company.set_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tyc_company.status %>
</p>

<p>
  <strong>Reg number:</strong>
  <%= @tyc_company.reg_number %>
</p>

<p>
  <strong>Credit code:</strong>
  <%= @tyc_company.credit_code %>
</p>

<p>
  <strong>Company code:</strong>
  <%= @tyc_company.company_code %>
</p>

<p>
  <strong>Tax code:</strong>
  <%= @tyc_company.tax_code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tyc_company.category_id %>
</p>

<p>
  <strong>End time:</strong>
  <%= @tyc_company.end_time %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @tyc_company.industry_id %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @tyc_company.tax %>
</p>

<p>
  <strong>Allow time:</strong>
  <%= @tyc_company.allow_time %>
</p>

<p>
  <strong>Pay money:</strong>
  <%= @tyc_company.pay_money %>
</p>

<p>
  <strong>All people:</strong>
  <%= @tyc_company.all_people %>
</p>

<p>
  <strong>Insured people:</strong>
  <%= @tyc_company.insured_people %>
</p>

<p>
  <strong>Organ:</strong>
  <%= @tyc_company.organ %>
</p>

<p>
  <strong>Reg address:</strong>
  <%= @tyc_company.reg_address %>
</p>

<p>
  <strong>En name:</strong>
  <%= @tyc_company.en_name %>
</p>

<p>
  <strong>Operate scope:</strong>
  <%= @tyc_company.operate_scope %>
</p>

<%= link_to 'Edit', edit_tyc_company_path(@tyc_company) %> |
<%= link_to 'Back', tyc_companies_path %>
